* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    text-align: center;
    background-color: darkcyan;
    height: 100vh;
    padding-top: 5vh;
}

#myForm{
    
    display: grid;
    width: 30%;
    margin: auto;
    padding-top: 10vh; 
    padding-bottom: 5vh;    
}
#myTextArea{
    border-radius: 10px;
    padding: 10px;
    outline: none;

}
button {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    background-color: darkorange;
    color: white;
    outline: none;
    
}
button:hover{
    color: black;
}
.tweetOutput{
    border: 2px solid yellow;
    width: 70%;
    height: 20vh;
    
    margin: auto;
}
p{
    text-align: left;
    padding-left: 10px;
}
#newCCParagraph{
    text-align: center;
    background-color: darkorange;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 3px;
}
h3{
    text-decoration: underline;
    padding-bottom: 10px;
}
#icon{
   width: 15px;
   height: 15px;
   margin-left: 5px;
     
}
#tweetP{
    font-family: 'Parisienne', cursive;
}